
modLoader = "javafml" #mandatory
# A version range to match for said mod loader - for regular FML @Mod it will be the forge version
loaderVersion = "${loader_version_range}" #mandatory This is typically bumped every Minecraft version by Forge. See our download page for lists of versions.
# The license for you mod. This is mandatory metadata and allows for easier comprehension of your redistributive properties.
# Review your options at https://choosealicense.com/. All rights reserved is the default copyright stance, and is thus the default here.
license = "${mod_license}"

[[mods]]
modId = "${mod_id}"
version = "${mod_version}"
displayName = "${mod_name}"
logoFile="../../../../../a/OutcomeMemories/src/main/resources/assets/outcomememories/logo.png"

displayURL = "https://discord.gg/cbBWH7ex6F"

authors = "${mod_authors}"

description = '''${mod_description}'''
[[dependencies."${mod_id}"]]
modId = "forge"
mandatory = true
versionRange = "${forge_version_range}"

ordering = "NONE"

side = "BOTH"
[[dependencies."${mod_id}"]]
modId = "minecraft"
mandatory = true

versionRange = "${minecraft_version_range}"
ordering = "NONE"
side = "BOTH"
